include head
#main_wrapper
	a(href="/Dashboard/#{admin._id}")
		#back Admin Home
	.subtitle 
		h1(style="text-align:center;") Bienvenid@ 
			span(style="color:#ff0c8a;") #{admin.name}
	.subtitle 
		h1(style="text-align:center;") #{app.name}	
	#mid_container
		a(href="/MenuItemCreator/#{app._id}/#{admin._id}")
			#plus_sign +
	p
	-if(menuItems.length>0)
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") Menu 
	-else
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") No hay Menús Creados
	#menu_container
		each menuItem, index in menuItems
			-if(menuItem.type=="locaciones")
				.menu_container(style="background:white;height:120px;") 
					.edit_topbar
						.edit
							a(href='/MenuItemUpdater/#{app._id}/#{admin._id}/#{menuItem._id}')
								div(style="width:30px; height:30px;")
						.erase
							a(href='/DeleteMenuItem/#{app._id}/#{admin._id}/#{menuItem._id}/#{app.name}', onClick="return confirm('Está seguro que desea borrar #{menuItem.name}?');")
								div(style="width:30px; height:30px;")
					a(href='/LocationDashboard/#{menuItem._id}/#{app._id}/#{admin._id}')
						.menu_text
							|#{menuItem.name}
						-if (menuItem.icon_url)
							img(src="#{menuItem.icon_url}", width="20px", height="20px")
			
			-else if(menuItem.type=="home" || menuItem.type=="favoritos" || menuItem.type=="configuracion")
				.menu_container(style="background:white;height:120px;") 
					.edit_topbar
						.edit
							a(href='/MenuItemUpdater/#{app._id}/#{admin._id}/#{menuItem._id}')
								div(style="width:30px; height:30px;")
						.erase
							a(href='/DeleteMenuItem/#{app._id}/#{admin._id}/#{menuItem._id}/#{app.name}', onClick="return confirm('Está seguro que desea borrar #{menuItem.name}?');")
								div(style="width:30px; height:30px;")
					.menu_text
						|#{menuItem.name}
					-if (menuItem.icon_url)
						img(src="#{menuItem.icon_url}", width="20px", height="20px")
					
			-else
				.menu_container(style="background:white; height:120px;") 
					.edit_topbar
						.edit
							a(href='/MenuItemUpdater/#{app._id}/#{admin._id}/#{menuItem._id}')
								div(style="width:30px; height:30px;")
						.erase
							a(href='/DeleteMenuItem/#{app._id}/#{admin._id}/#{menuItem._id}/#{app.name}',onClick="return confirm('Está seguro que desea borrar #{menuItem.name}?');")
								div(style="width:30px; height:30px;")
					a(href='/ItemDashboard/#{menuItem._id}/#{app._id}/#{admin._id}')
						.menu_text
							|#{menuItem.name}
						-if (menuItem.icon_url)
							img(src="#{menuItem.icon_url}", width="20px", height="20px")

	p
	div(style="clear:both;")
	a(href="/CategoryFatherDashboard/#{app._id}/#{admin._id}")
		#category Crear/Editar Categorías 