include head
#main_wrapper
	a(href="/Dashboard/#{admin._id}")
		#back Admin Home
	a(href="/AppDashboard/#{app._id}/#{admin._id}/#{app.name}")
		#back Back

	.subtitle 
		h1(style="text-align:center;") Categorías	
	#mid_container
		a(href="/CategoryFatherCreator/#{app._id}/#{admin._id}")
			#plus_sign +
	p
	-if(categories.length>0)
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") 
			span(style="color:white; font-size:100px;") #{categories.length} 
			|Categoría(s) Creadas
	-else
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") No hay Categorías creadas
	#menu_container
		each category, index in categories
				.menu_container(style="background:#ff0cb2; color:white;height:120px;")
					.edit_topbar
						//.priority
						//	|#{category.priority}
						.edit
							a(href='/CategoryFatherUpdater/#{app._id}/#{admin._id}/#{category._id}')
								div(style="width:30px; height:30px;")
						.erase
							a(href='/DeleteCategoryFather/#{app._id}/#{admin._id}/#{category._id}/', onClick="return confirm('Está seguro que desea borrar #{category.name}?');")
								div(style="width:30px; height:30px;")
					a(href='/CategorySonDashboard/#{app._id}/#{admin._id}/#{category._id}')
						.menu_text(style="color:white;")
							|#{category.name}
	script.
		var btn = document.getElementById('back').innerHTML;
		btn.onclick = function(){
			window.history.back(-1);
		};