include head
#main_wrapper
	a(href="/Dashboard/#{admin._id}")
		#back Admin Home
	a(href="/CategoryFatherDashboard/#{app._id}/#{admin._id}")
		#back Back

	.subtitle 
		h1(style="text-align:center;") #{categoryfather.name}	
	#mid_container
		a(href="/CategorySonCreator/#{app._id}/#{admin._id}/#{categoryfather._id}")
			#plus_sign +
	p
	-if(categories.length>0)
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") 
			span(style="color:white; font-size:100px;") #{categories.length}
			|Item(s) Creados
	-else
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") No hay Items creados para esta categoría
	#menu_container
		each category, index in categories
				.menu_container(style="background:#ff0cb2; color:white;height:120px;")
					.edit_topbar
						.priority
							|#{category.priority}
						.erase
							a(href='/DeleteCategorySon/#{app._id}/#{admin._id}/#{category._id}/#{categoryfather._id}/', onClick="return confirm('Está seguro que desea borrar #{category.name}?');")
								div(style="width:30px; height:30px;")
					a(href='/CategorySonUpdater/#{app._id}/#{admin._id}/#{category._id}/#{categoryfather._id}')
						.menu_text(style="color:white;")
							|#{category.name}
	script.
		var btn = document.getElementById('back').innerHTML;
		btn.onclick = function(){
			window.history.back(-1);
		};