doctype 5
html(lang="es")
	head
		meta(name="viewport", content="width=device-width, initial-scale=0.5, maximum-scale=5.0, user-scalable=yes")
		title #{title}
		link(rel='stylesheet', href='../../../../../stylesheets/style2.css')
	//body(style="background:rgb(199,88,106);")
	body(style="background:#333;background:rgb(199,88,106);")
		div(style="margin:10px auto; width:700px; height:700px;")	
			//span(id="days", style="font-size:130px; color:white; font-weight:bold;") #{finaldate}
			//span(style="font-size:30px; color:rgb(179,224,221); font-weight:0;")  +
			//span(style="font-size:70px; color:#440000; font-weight:bold;")  Days
			//span(class="dots", style="font-size:30px; color:white; font-weight:bold;")   .
			//br
			//span(style="font-size:30px; color:rgb(201,235,225); font-weight:bold;")  OR
			//br
			//span(id="hours", style="font-size:100px; color:white; font-weight:bold;") #{hours} 
			//span(style="font-size:70px; color:rgb(212,177,91); font-weight:bold;") hours
			//span(class="dots", style="font-size:40px; color:white; font-weight:bold;")   .
			//br
			//span(style="font-size:30px; color:rgb(201,235,225); font-weight:bold;")  OR
			//br
			//span(id="minutes", style="font-size:80px; color:white; font-weight:bold;") #{minutes}
			//span(style="font-size:70px; color:rgb(179,224,221); font-weight:bold;") Minutes
			//span(class="dots", style="font-size:60px; color:white; font-weight:bold;")   .
			//br
			//span(style="font-size:30px; color:rgb(201,235,225); font-weight:bold;")  OR
			//br
			//span(id="seconds", style="font-size:50px; color:white; font-weight:bold;") #{first_day}
			//span(style="font-size:50px; color:rgb(219,229,130); font-weight:bold;")  Seconds Left
			//br
			span(style="font-size:50px; color:rgb(219,229,130); color:#444; font-weight:bold;") Me @ Santa Barbara
			br
			span(id="final", style="font-size:50px; color:white; font-weight:bold;") 
			br
			span(style="font-size:14px; color:rgb(179,224,221); font-weight:bold;")  #{messages.message1}
			br
			br
			span(style="font-size:50px; color:rgb(219,229,130); color:#853F8D;") You @ Bogotá
			br
			span(id="final2", style="font-size:50px; color:white;") 
			br
			span(style="font-size:14px; color:rgb(179,224,221);")  #{messages.message2}
			br
			br
			span(style="font-size:50px; color:rgb(219,229,130);") Both of us @ Chicago
			br
			span(id="final3", style="font-size:50px; color:white;") 
			br
			span(style="font-size:14px; color:rgb(179,224,221);")  #{messages.message3}
			br
			br
			span(style="font-size:30px; color:white;") Why all this colors in the timers? 
			br
			span(style="font-size:20px; color:white;") Because my life is so colorful since you're part of it. 
			br
			br
			span(style="font-size:15px; color:#333;") And never... never forget, how much I love you Amor.
			br
			br
			br
			span(style="font-size:150px; color:#440000; font-weight:bold;")
			//script(type="text/javascript", src="/javascripts/form.js")
		
		script(type='text/javascript').
			function start_timer(seconds,div_id){
				
				var seconds=seconds;
				var minutes= Math.floor(seconds/(1000*60));
				var hours= Math.floor(seconds/(1000*60*60));
				var days= Math.floor(seconds/(1000*60*60*24));
				var counter=setInterval(timer, 1000);
				var dotcounter=0;
				var dots=".";
				
				function span(color,size,text){
					return '<span style="font-size:'+size+'; color:'+color+';">'+text+'</span>';
				}
				
				function timer(){
					seconds=seconds-1;
					minutes= Math.floor(seconds/(60));
					hours= Math.floor(seconds/(60*60));
					days= Math.floor(seconds/(60*60*24));
					
					var sec_num = parseInt(seconds, 10); 
					var final_days = Math.floor(sec_num / (60*60*24));
					var final_hours   = Math.floor(sec_num / 3600);
					var final_minutes = Math.floor((sec_num - (final_hours * 3600)) / 60);
					var final_seconds = sec_num - (final_hours * 3600) - (final_minutes * 60);
					final_hours=final_hours%24;
					
					if (final_days   < 10){
						final_days   = "0"+final_days;
					}
					if (final_hours   < 10){
						final_hours   = "0"+final_hours;
					}
					if (final_minutes < 10){
						final_minutes = "0"+final_minutes;
					}
					if (final_seconds < 10){
						final_seconds = "0"+final_seconds;
					}
					var time    = final_days
								+span('#440000','18px',' Days ')
								+final_hours
								+span('rgb(212,177,91)','18px',' Hours ')
								+final_minutes
								+span('rgb(179,224,221)','18px',' Minutes ')
								+final_seconds
								+span('rgb(219,229,130)','18px',' Seconds');
					
					if (seconds <= 0){
						clearInterval(counter);
						return;
					}
					/*document.getElementById("seconds").innerHTML=seconds;
					document.getElementById("minutes").innerHTML=seconds%2 ? minutes+"-":minutes+":";
					document.getElementById("hours").innerHTML=seconds%2 ? hours+"-":hours+":";
					document.getElementById("days").innerHTML=days;*/
					document.getElementById(div_id).innerHTML=time;
					
					if(dotcounter<2){
						dots+=".";
						dotcounter+=1;
					}
					else{
						dots=".";
						dotcounter=0;
					}
					divs = document.getElementsByClassName( 'dots' );
					[].slice.call( divs ).forEach(function ( div ) {
						div.innerHTML = " "+dots;
					});
					
				}
			}
			start_timer('#{first_day}','final');
			start_timer('#{second_day}','final2');
			start_timer('#{third_day}','final3');