include head
#main_wrapper
	a(href="/Dashboard/#{admin._id}")
		#back Admin Home
	a(href="/AppDashboard/#{app._id}/#{admin._id}/#{app.name}")
		#back Back

	.subtitle 
		h1(style="text-align:center;") #{menuItem.name}	
	#mid_container
		a(href="/LocationCreator/#{app._id}/#{admin._id}/#{menuItem._id}")
			#plus_sign +
	p
	-if(locations.length>0)
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") 
			span(style="color:white; font-size:100px;") #{locations.length}
			|locacion(es) Creadas
	-else
		h1(style="color:#ff0c8a;margin:0 auto;width:200px;text-align:center;") No hay Locaciones
	#menu_container
		each location, index in locations
			.menu_container(style="background:white; height:120px;") 
				.edit_topbar
					.priority
							|#{location.priority}
					.erase
						a(href='/DeleteLocation/#{app._id}/#{admin._id}/#{location._id}/#{menuItem._id}', onClick="return confirm('Está seguro que desea borrar #{location.name}?');")
							div(style="width:30px; height:30px;")
				a(href='/LocationUpdater/#{app._id}/#{admin._id}/#{menuItem._id}/#{location._id}')
					.menu_text
						|#{location.name}
	script.
		var btn = document.getElementById('back').innerHTML;
		btn.onclick = function(){
			window.history.back(-1);
		};