include head
#login_container
	#logo 
		img(src="../../../../images/logo_caracol.png", width="220px", height="200px")
	#form_container
		form(method='post',action='/UpdateLocation', name="form",enctype="multipart/form-data")
			fieldset(style="width:230px;")
				legend Información:
				label(for='name') Título ó Nombre la locación del menú #{menuItem.name}:
				p
				input(class="input_textfield",type='text',name='name',id='name',value="#{location.name}")
				p
				label(for='short_detail') Dirección:
				p
				input(class="input_textfield",type='text',name='short_detail',id='short_detail', value="#{location.short_detail}")
				p
				label(for='detail') Descripción ó detalle de la locación:
				p
				textarea(class="input_textarea",rows='5',cols='29',name='detail') #{location.detail}
			p
			
			fieldset(style="width:230px;")
				legend Ubicación:
				label(for='lat') Selecciona la posición deseada para tu locación haciendo click en el mapa:
				p
				script.
					var lat="#{location.lat}";
					var lon="#{location.lon}";
				script(type="text/javascript", src="/javascripts/maps.js")
				div(id="map-canvas", style="width:226px; height:300px;")
			p
			
			fieldset(style="width:230px;")
				legend Media
				label(for='image_url') Imagen Principal:
				br
				span(style="color:#ff0c8a; font-size:10px;") (Max 800px x 600px):
				p
				input(type="file", id="image_url", name="image_url", value="no", style="width:230px;")
				#upload_preview
					img(src="#{location.image_url}")
				//input(class="input_textfield",type='text',name='image_url',id='image_url')
				p
				label(for='thumb_url') Imagen Ícono:
				br
				span(style="color:#ff0c8a; font-size:10px;") (Imagen proporción 1:1 de max 150px x 150px):
				p
				input(type="file", id="thumb_url", name="thumb_url", value="no", style="width:230px;")
				#upload_preview 
					img(src="#{location.thumb_url}")
				//input(class="input_textfield",type='text',name='thumb_url',id='thumb_url')
				p
				label(for='youtube_url') ID de video de Youtube:
				p
				input(class="input_textfield",type='text',name='youtube_url',id='youtube_url',value="#{location.youtube_url}")
			p
			
			fieldset(style="width:230px;")
				legend Relacionar
				label(for='location_id') Asignar una Categoría:
				p
				each categoryfather, index in categoryfathers
					script.
						var i=0;
					fieldset(style="width:200px;")
						legend #{categoryfather.name}
						select(name="category", style="width:190px;")
							option(value='{"categoryfather_id":"0", "categoryfather_name":"Ninguno", "categoryson_name":"Ninguno", "categoryson_id":"0"}') Ninguno
							each categoryson, index2 in categorysons
								-if(categoryfather._id==categoryson.categoryfather_id)
									option(value='{"categoryfather_id":"#{categoryfather._id}", "categoryfather_name":"#{categoryfather.name}", "categoryson_name":"#{categoryson.name}", "categoryson_id":"#{categoryson._id}"}', id="#{index}#{index2}") #{categoryson.name}
									each category_item, index3 in location.category_list
										script.
											if("#{category_item.categoryson_id}"=="#{categoryson._id}"){
												if(i==0){
													document.getElementById("#{index}#{index2}").selected=true;
													
													console.log("i= "+i+" index:#{index}#{index2} puesto: #{categoryson.name}");
													i++;
												}
											}
						select(name="category", style="width:190px;")
							option(value='{"categoryfather_id":"0", "categoryfather_name":"Ninguno", "categoryson_name":"Ninguno", "categoryson_id":"0"}') Ninguno
							each categoryson, index2 in categorysons
								-if(categoryfather._id==categoryson.categoryfather_id)
									option(value='{"categoryfather_id":"#{categoryfather._id}", "categoryfather_name":"#{categoryfather.name}", "categoryson_name":"#{categoryson.name}", "categoryson_id":"#{categoryson._id}"}', id="#{index}#{index2}b") #{categoryson.name}
									each category_item, index3 in location.category_list
										script.
											if("#{category_item.categoryson_id}"=="#{categoryson._id}"){
												if(i==1){
													i++;
												}
												else{
													document.getElementById("#{index}#{index2}b").selected=true;
													console.log("i= "+i+" index:#{index}#{index2}b puesto: #{categoryson.name}");
												}
											}
						script.
							i = 0;
					p

				p
			p
			fieldset(style="width:230px;")
				legend Mensaje para Redes Sociales
				p
				textarea(class="input_textarea",rows='5',cols='29',name='social_message') #{location.social_message}
			p
			fieldset(style="width:230px;")
				//legend Prioridad
				p
				label(for='priority') Prioridad: 
					select(name="priority", style="width:100px;")
						-for(var i=1; i<21; i++)
							-if(i==location.priority)
								option(value="#{i}", selected="selected") #{i}
							-else
								option(value="#{i}") #{i}
				p
				div(style="font-style:italic;font-size:12px; color:#ff0cb2;") Para mantener el orden ideal, evita asignar a dos items el mismo número de prioridad.	
			p
			input(type='hidden',name='lat',id='lat',value="#{location.lat}")
			input(type='hidden',name='lon',id='lon',value="#{location.lon}")
			input(type='hidden',name='app_id',id='app_id',value='#{app._id}')
			input(type='hidden',name='location_id',id='location_id',value='#{location._id}')
			input(type='hidden',name='app_name',id='app_name',value='#{app.name}')
			input(type='hidden',name='menu_item_id',id='menu_item_id',value='#{menuItem._id}')
			input(type='hidden',name='type',id='type',value='#{menuItem.type}')
			input(type='hidden',name='admin_id',id='admin_id',value='#{admin._id}')
			p
			input(class="submit_button",type='submit',name='submit',value='Actualizar')
			input(class="submit_button",type='button',name='cancel',value='Cancelar')
			p
			.errorText #{error}
			script.
				var btn = document.forms['form'].elements["cancel"];
				btn.onclick = function(){
					window.history.back(-1);
				};