include head
#login_container
	#logo 
		img(src="../../../images/logo_caracol.png", width="220px", height="200px")
	#form_container
		form(method='post',action='/UpdateMenuItem', name="form",enctype="multipart/form-data",onsubmit="return confirm('Está seguro que desea actualizar #{menuItem.name}?');")
			fieldset(style="width:220px;")
				legend Información
				label(for='apps') Tipo de menú: 
					select(name="type", onchange="ChangeDropdowns(this.value);")
						each type, index in types
							-if(menuItem.type==type)
								option(value="#{type}", selected="selected") #{type}
							-else
								option(value="#{type}") #{type}
				p
				label(for='name') Nombre del Menú:
				p
				input(class="input_textfield",type='text',name='name',id='name', value="#{menuItem.name}")
			p
			fieldset(style="width:230px;")
				legend Media
				label(for='icon_url') Ícono del menú 
				br
				span(style="color:#ff0c8a; font-size:10px;") (Imagen proporción 1:1 de max 150px x 150px):
				p
				input(type="file", id="icon_url", name="icon_url", style="width:230px;")
				#upload_preview
					img(src="#{menuItem.icon_url}") 
			p
			-if(menuItem.type=="home" || menuItem.type=="general" || menuItem.type=="favoritos")
				script.
			fieldset(style="width:230px;")
				legend Filtros
				p
				label(for='filter1') Filtro 1: 
					select(name="filter1", style="width:190px;", id="filter")
						option(value="0", selected="selected") Ninguno
						
						-if(menuItem.filter1=="1")
							option(value="1", selected="selected") Locación
						-else
							option(value="1") Locación
						
						each categoryfather, index in categoryfathers
							-if(menuItem.filter1==categoryfather._id)
								option(value="#{categoryfather._id}", selected="selected", id="filter") #{categoryfather.name}
							-else
								option(value="#{categoryfather._id}") #{categoryfather.name}	
					p
				p
				label(for='filter2') Filtro 2: 
					select(name="filter2", style="width:190px;", id="filter2")
						option(value="0", selected="selected", id="no") Ninguno
						script(src="/javascripts/jquery-1.10.2.min.js")
						-if(menuItem.filter2=="1")
							option(value="1", selected="selected") Locación
						-else
							option(value="1") Locación
						
						-if(menuItem.filter2=="2")
							option(value="2", selected="selected", class="hide") Ver Listado
						-else
							option(value="2", class="hide") Ver Listado
						
						each categoryfather, index in categoryfathers
							-if(menuItem.filter2==categoryfather._id)
								option(value="#{categoryfather._id}", selected="selected") #{categoryfather.name}
							-else
								option(value="#{categoryfather._id}") #{categoryfather.name}
					p
			p
			fieldset(style="width:230px;")
				//legend Prioridad
				p
				label(for='priority') Prioridad: 
					select(name="priority")
						-for(var i=1; i<21; i++)
							-if(i==menuItem.priority)
								option(value="#{i}", selected="selected") #{i}
							-else
								option(value="#{i}") #{i}
				p
				div(style="font-style:italic;font-size:12px; color:#ff0cb2;") Para mantener el orden ideal, evita asignar a dos items el mismo número de prioridad.
				
			p
			input(type='hidden',name='app_id',id='app_id',value='#{app._id}')
			input(type='hidden',name='app_name',id='app_name',value='#{app.name}') 
			input(type='hidden',name='admin_id',id='admin_id',value='#{admin._id}') 
			input(type='hidden',name='menuItem_id',id='menuItem_id',value='#{menuItem._id}') 
			p
			input(class="submit_button",type='submit',name='submit',value='Actualizar')
			input(class="submit_button",type='button',name='cancel',value='Cancelar')
			p
			.errorText #{error}
			script.
				var btn = document.forms['form'].elements["cancel"];
				btn.onclick = function(){
					window.history.back(-1);
				};
			script.
				function ChangeDropdowns(value){
					if(value!="locaciones"){
						$('option.hide').prop('disabled', true);
						document.getElementById("no").selected=true;
					}
					else{
						$('option.hide').prop('disabled', false);
					}
				}
				//ChangeDropdowns("#{menuItem.type}");